package testsacc

import (
	"context"
	"testing"

	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource"

	"github.com/orange-cloudavenue/terraform-provider-cloudavenue/internal/helpers/testsacc"
)

var _ testsacc.TestACC = &{{ .FullCamelResourceName }}DataSource{}

const (
	{{ .FullCamelResourceName }}DataSourceName = testsacc.ResourceName("data.cloudavenue_{{ .FullSnakeResourceName }}")
)

type {{ .FullCamelResourceName }}DataSource struct{}

func New{{ .FullCamelResourceName }}DataSourceTest() testsacc.TestACC {
	return &{{ .FullCamelResourceName }}DataSource{}
}

// GetResourceName returns the name of the resource.
func (r *{{ .FullCamelResourceName }}DataSource) GetResourceName() string {
	return {{ .FullCamelResourceName }}DataSourceName.String()
}

func (r *{{ .FullCamelResourceName }}DataSource) DependenciesConfig() (configs testsacc.TFData) {
	// Add dependencies config to the resource
	configs.Append(GetResourceConfig()[{{ .FullCamelResourceName }}ResourceName]().GetDefaultConfig())
	return
}

func (r *{{ .FullCamelResourceName }}DataSource) Tests(ctx context.Context) map[testsacc.TestName]func(ctx context.Context, resourceName string) testsacc.Test {
	return map[testsacc.TestName]func(ctx context.Context, resourceName string) testsacc.Test{
		// * Test One (example)
		"example": func(_ context.Context, _ string) testsacc.Test {
			return testsacc.Test{
				// ! Create testing
				Create: testsacc.TFConfig{
					TFConfig: `
					data "cloudavenue_{{ .FullSnakeResourceName }}" "example" {
						foo_id = cloudavenue_foo_bar.example.id
					}`,
					// Here use resource config test to test the data source
					// the field example is the name of the test
					Checks: GetResourceConfig()[{{ .FullCamelResourceName }}ResourceName]().GetDefaultChecks()
				},
			}
		},
	}
}

func TestAcc{{ .FullCamelResourceName }}DataSource(t *testing.T) {
	resource.Test(t, resource.TestCase{
		PreCheck:                 func() { TestAccPreCheck(t) },
		ProtoV6ProviderFactories: TestAccProtoV6ProviderFactories,
		Steps:                    testsacc.GenerateTests(&{{ .FullCamelResourceName }}DataSource{}),
	})
}