{{ define "importSchema" -}}
	// fstringvalidator "github.com/FrangipaneTeam/terraform-plugin-framework-validator/stringvalidator"
	// fboolvalidator "github.com/FrangipaneTeam/terraform-plugin-framework-validator/boolvalidator"
	// fint64validator "github.com/FrangipaneTeam/terraform-plugin-framework-validator/int64validator"
	// flistvalidator "github.com/FrangipaneTeam/terraform-plugin-framework-validator/listvalidator"
	// fmapvalidator "github.com/FrangipaneTeam/terraform-plugin-framework-validator/mapvalidator"
	// fsetvalidator "github.com/FrangipaneTeam/terraform-plugin-framework-validator/setvalidator"

	// fstringplanmodifier "github.com/FrangipaneTeam/terraform-plugin-framework-validator/stringplanmodifier"
	// fboolplanmodifier "github.com/FrangipaneTeam/terraform-plugin-framework-validator/boolplanmodifier"
	// fint64planmodifier "github.com/FrangipaneTeam/terraform-plugin-framework-validator/int64planmodifier"
	// flistplanmodifier "github.com/FrangipaneTeam/terraform-plugin-framework-validator/listplanmodifier"
	// fmapplanmodifier "github.com/FrangipaneTeam/terraform-plugin-framework-validator/mapplanmodifier"
	// fsetplanmodifier "github.com/FrangipaneTeam/terraform-plugin-framework-validator/setplanmodifier"
{{ end }}